<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retro-Overlay</title>
  </head>
  <body>
    <iframe id="nitro" src="http://127.0.0.1:8080/?sso=<SSO-HERE" title="Nitro Client"></iframe>
    <external-interface></external-interface>

    <script>
      var ExternalConfig = {
        debugEnabled: true,
      };
    </script>
    <style>
      #nitro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    </style>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
